<launch>
  <arg name="robot_prefix" default="Robot0"/>
  <group ns="$(arg robot_prefix)">
  <param name="tf_prefix" value="$(arg robot_prefix)"/>
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/>
  <include file="/home/soumyadeep/traj_research/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
  </group>
</launch>
