<?xml version="1.0"?>

<model>
  <name>Ground Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Prasun Pallav</name>
    <email>prasun.pallav@tcs.com</email>
  </author>

  <description>
    A simple ground plane having chess board pattern on floor.
  </description>
</model>
